.nav-icon {
    color: #ffffff !important;
    /* Change the color to whatever you want */
}

.nav-icon:hover {
    color: #ffffff !important;
    /* Change the color to whatever you want */
    transform: scale(1.2);
    /* Make the icon slightly larger */
}