{% extends 'dashboard/_base.html' %}

{% block title %} Change Password{% endblock title %} Change Password

{% block content %}
    <br></br>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Edit Profile</h1>
        <form method="POST" action="{% url 'edit-profile' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}